@keyframes thumbsUpBounce {
    0% {
      transform: scale(1) rotate(0deg);
    }
    30% {
      transform: scale(1.2) rotate(-30deg);
    }
    50% {
      transform: scale(1.1) rotate(10deg);
    }
    70% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  
  .animate-thumbsUpBounce {
    animation: thumbsUpBounce 3s ease-in-out infinite;
  }


  @keyframes bounce {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(2);
    }
  }
  
  .bar {
    transform-origin: bottom;
    animation: bounce 2s ease-in-out infinite;
  }
  
  .animate-bounce1 {
    animation-delay: 0s;
  }
  
  .animate-bounce2 {
    animation-delay: 0.4s;
  }
  
  .animate-bounce3 {
    animation-delay: 0.8s;
  }


/* 
  .box1 {
    top: 0;
    left: 0;
 
  }
  .box2 {
    top: 0;
    right: 0;
    ;
  }
  .box3 {
    bottom: 0;
    left: 0;
     }
  .box4 {
    bottom: 0;
    right: 0;
 } */

 


 /* Move the boxes to the center */
@keyframes moveFromTopLeft {
    from {
      transform: translate(0, 0); /* Top-left */
    }
    to {
      transform: translate(150px, 150px); /* Centered */
    }
  }
  
  @keyframes moveFromTopRight {
    from {
      transform: translate(0, 0); 
    }
    to {
      transform: translate(-150px, 150px); 
    }
  }
  
  @keyframes moveFromBottomLeft {
    from {
      transform: translate(0, 0); 
    }
    to {
      transform: translate(150px, -150px); 
    }
  }
  
  @keyframes moveFromBottomRight {
    from {
      transform: translate(0, 0); 
    }
    to {
      transform: translate(-150px, -150px);
    }
  }
  
  /* Tailwind CSS */
  .animate-moveFromTopLeft {
    animation: moveFromTopLeft 2s ease-in infinite;
    animation-delay: 0s; /* First box starts immediately */
  }
  
  .animate-moveFromTopRight {
    animation: moveFromTopRight 2s ease-in infinite ;
    animation-delay: 2s; /* Second box starts after 2 seconds */
  }
  
  .animate-moveFromBottomLeft {
    animation: moveFromBottomLeft 2s ease-in infinite;
    animation-delay: 4s; /* Third box starts after 4 seconds */
  }
  
  .animate-moveFromBottomRight {
    animation: moveFromBottomRight 2s ease-in infinite;
    animation-delay: 6s; /* Fourth box starts after 6 seconds */
  }
  